:root{
  --primary-color:#151515;
--secondary-color:#ffffff;
  --neutral-color:#59d8a1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width:600px){
  .container{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin:0 auto;
    align-items: center;
  }
  .portfolio-name{
    font-size: 20px;
    text-align: center;
    color:var(--secondary-color);
  }
  .icons{
    display: flex;
    justify-content: center;p
  }
  .icons li a img{
    width:20px;
    height:20px;
  }
  .text-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    text-align: center;
   
  }
  .text-box h1,p,h2{
    color:var(--secondary-color);
    line-height:1.5;
    padding:1rem;
  }
  .text-box span{
   border-bottom:2px solid var(--neutral-color);
  }
}